.bai1_h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    border: thin #000099 dashed;
}
.bai1_h2{
    font-family: Georgia, "Times New Roman", Times, serif; font-size: 9px; 
    font-style: italic; 
    color: #CC0000; 
    text-decoration: blink
}
.bai1_h3{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    font-style: normal; 
    font-weight: bold; 
    color: #FF3399
}
.bai1_h4{
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 16px; 
    font-style: italic; 
    color: #FFFF00
}
.bai1_h5{
    font-family: "Courier New", Courier, mono; 
    font-size: 24px; 
    font-style: italic; 
    color: #009999
}
.bai1_h6{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 9px; 
    font-style: normal; 
    font-weight: lighter; 
    color: #009900
}
.bai3_table1 table, .bai3_table2 table {
    border: 1px solid black;
    border-collapse: unset;

}
.bai3_table1 td, .bai3_table1 th, .bai3_table2 td, .bai3_table1 th{
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
}
.bai4_table {
    border: 1px solid #b24546;
    border-collapse: collapse;
}
.bai4_table td, .bai4_table th{
    border: 1px solid #b24546;
    border-collapse: collapse;
    color: black;
}

.bai4_table th{
    color: white;
}
.bai4_table tr:nth-child(even){
    background-color: rgb(201, 201, 201);
}
.bai4_table tr:nth-child(1){
    background-color:#993738;
}

.container, .row{
    width: 100%;
}
.row::before, .row::after{
    display: table;
    content: "";
}
.row::after{
    clear: both;
}
.col1, .col2, .col3{
    float: left;
    width: 25.333333333%;
    margin: 1%;
    padding: 1%;
}
.newspaper {
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: lightblue;
  }
.boderall{
    width: 250px;
    height: 100px;
    margin: 50px;
}
.boder1, .boder2, .boder3, .boder4{
    border: 10px solid;
    border-top-color: #85C226;
    border-right-color: #F7C200;
    border-bottom-color: #4493AD;
    border-left-color: #DF127B;
}
.boder2{
    border-top-style: solid;
    border-right-style: dashed;
    border-bottom-style: groove;
    border-left-style: double;
}
.boder3{
    border-top-width: 5px;
    border-right-width: 10px;
    border-bottom-width: 15px;
    border-left-width: 20px;

}
.boder4{
    border-top-left-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 30px 70px 20px;
}
.boder5{
    border-width: 4px 30px 4px 30px;
    border-style: groove ridge dashed groove;
    border-color: #7bc73c;
    border-radius: 100px 100px 0 0;
}
.boder6{
    border-radius: 20px;
    border: 5px solid #F7C200;
}
.boder7{
    border-width: 0px 12px 0px 12px;
    border-style: double;
    border-color: violet;
    border-radius: 40px 40px 60px 60px;
}
.boder8{
    border-radius: 20px 100px 100px 20px;
    border: 5px solid #009999;
}
.boder8{
    background: orange;
    border-width: 4px 30px 4px 30px;
    border-style: solid;
    border-color: #56c6d9 #56c6d9 #fe2192 #fe2192;
    border-radius: 0 120px 0 120px;
}
.button{
    width: 200px;
    padding: 8px;
    background-color: #428bca;
    border-color: #357ebd;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-weight: 900;
    font-size: 125%;
}
#animated{
  
    width: 100px;
    height: 100px;
    left: 0px;
    top: 100px;
    background: #ffcc00;
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes scroll{
    to{
        left: 100%;
        transform: rotate(180deg);
    }
}
.footer{
    position: fixed;
    bottom: 0px;
    display: block;
    width: 100%;
    background-color: green;
    color: #fff;
}
.container_bai9{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 436px;
    height: 179px;
}
.header_bai9{
    color: #8a1315;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}
.paner{
    border: 1px solid #8a1315;
    width: 100px;
    height: 50px;
}
.paner_bai9{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.fb, .ms, .nj, .oo, .pa, .quo, .trip{
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.fb, .pa{
    margin-left: 5px;
}
.fb:hover, .ms:hover, .nj:hover, .oo:hover, .pa:hover, .quo:hover, .trip:hover{
 
    border: 2.5px double #8a1315;
}
.transition_bai14{
    width: 300px;
    height: 170px;
    background: #6FAC21;
    opacity: 0.8;
    border-radius: 10px;
    transition: all 2s linear;
    margin: 50px 50px;
    text-align: justify;
    border-bottom: dashed;
    border-left: double;
    border-right: dashed;
    border-top: double;
    border-color: red;
}

.tratransition_bai14{
    color: white;
    font-size: 15px;
    text-align: justify;
    line-height: 16px;
    transition: all 2s;
}
.transition_bai14:hover{
    transform: scale(2) rotate(360deg);
    background: #1EC7E6;
    opacity: 0.8;
}
