.bai1_h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    border: thin #000099 dashed;
}
.bai1_h2{
    font-family: Georgia, "Times New Roman", Times, serif; font-size: 9px; 
    font-style: italic; 
    color: #CC0000; 
    text-decoration: blink
}
.bai1_h3{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    font-style: normal; 
    font-weight: bold; 
    color: #FF3399
}
.bai1_h4{
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 16px; 
    font-style: italic; 
    color: #FFFF00
}
.bai1_h5{
    font-family: "Courier New", Courier, mono; 
    font-size: 24px; 
    font-style: italic; 
    color: #009999
}
.bai1_h6{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 9px; 
    font-style: normal; 
    font-weight: lighter; 
    color: #009900
}
.bai3_table1 table, .bai3_table2 table {
    border: 1px solid black;
    border-collapse: unset;

}
.bai3_table1 td, .bai3_table1 th, .bai3_table2 td, .bai3_table1 th{
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
}
.bai4_table {
    border: 1px solid #b24546;
    border-collapse: collapse;
}
.bai4_table td, .bai4_table th{
    border: 1px solid #b24546;
    border-collapse: collapse;
    color: black;
}

.bai4_table th{
    color: white;
}
.bai4_table tr:nth-child(even){
    background-color: rgb(201, 201, 201);
}
.bai4_table tr:nth-child(1){
    background-color:#993738;
}